@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Merriweather', serif;
  --font-size-base: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
}

h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-xl);
}

h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.9s, transform 0.5s;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s, transform 0.5s;
}
